{% extends "layout.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form_css.css') }}">

    <form id="signup_form" role="form" method="POST" action="">
        {{ form.csrf_token }}

        <div id="form_header">

            {% if error %}
                <p class="error"> <i class="fa fa-info-circle"></i> Error: {{ error }} </p>
            {% endif %}

            <h3>Create Account</h3>
            <i class="fas fa-user-plus" id="login_icon"></i>
            <p>Please fill in this form to create an account.</p>
        </div>

        <hr>

            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span class="signup_error">
                        *{{ error }}
                    </span>
                {% endfor %}
            {% endif %}
        {{ form.username(placeholder="username") }}

            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span class="signup_error">
                        *{{ error }}
                    </span>
                {% endfor %}
            {% endif %}
        {{ form.email(placeholder="email") }}

            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="signup_error">
                        *{{ error }}
                    </span>
                {% endfor %}
            {% endif %}
        {{ form.password(placeholder="password") }}

            {% if form.confirm.errors %}
                {% for error in form.confirm.errors %}
                    <span class="signup_error">
                        *{{ error }}
                    </span>
                {% endfor %}
            {% endif %}
        {{ form.confirm(placeholder="confirm password") }}

        <label class="rem">
            <input type="checkbox" checked="checked" name="remember" class="remember_checkbox"> Remember me
        </label>
        
        <p class="terms">By creating an account you agree to our <a href="#" class="terms_link">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <a href="{{ url_for('home.index') }}"><button type="button" class="cancelbtn">Cancel / Go back</button></a>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </form>

{% endblock %}