{% extends "layout.html" %}
{% block content %}

    <section class="side_bar">
        <div id="profile">
            <h4>Manage Account</h4>
            <p>
                <i class="fa fa-user" id="user_icon"></i>

                <ul id="manage_ac">
                    <li><button type="button" data-href="{{ url_for('users.my_qstns') }}" class="ac_btns">Most Answered Qstns</button></li>
                    <li><button type="button" data-href="{{ url_for('users.my_recent_qstns') }}" class="ac_btns">My Recent Questions</button></li>
                    <li><button type="button" data-href="{{ url_for('users.my_answers') }}" class="ac_btns">My Answers (44)</button></li>
                </ul>
            </p>
            
        </div>
    </section>

    <section class="right">
        <div class="search">
            <form class="search-form">
                <input type="text" placeholder="Search ..">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div id="loader"></div>
        
    </section>


    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#loader').load("{{ url_for('users.my_qstns') }}");
        });
    </script>
        
{% endblock %}